.container {
    max-width:400px;
}

.input {
    margin-bottom: 8px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.testButton {
    white-space: nowrap;
    color: white;
    font-size: 14px;
}
