.tasksContainer {
    max-width: 600px;
}

.settingsContainer {
    max-width: 400px;
}

.input {
    margin-bottom: 8px;
}

.accordionItem {
    border: 1px solid rgba(255, 255, 255, 0.01);
    overflow: hidden;
}

.accordionHeader button {
    background-color: #02181d;
    color: #dee2e6;
    box-shadow: none !important;

    &[aria-expanded="true"] {
        background-color: #02181d;
        color: #dee2e6;
    }
}

.accordionBody {
    background-color: #02181d;
    color: #dee2e6;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}